* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: rgb(143, 176, 188);
  padding: 40px 60px;
}
h1 {
  font-size: 3em;
  color: rgb(8, 2, 2);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h5 {
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.start {
  padding: 15px 20px;
  color: rgb(3, 3, 3);
  background: rgb(100, 150, 177);
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600; 
  transition-duration: 0.5s;
}
.start:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.memory-game {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}
.card {
  width: 100px;
  height: 100px;
  background: #ddd;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.card.flipped {
  transform: rotateY(180deg);
}
.card-side {
  width: 100px;
  height: 100px;
  position: absolute;
  backface-visibility: hidden;
  background-size:cover;
  transform: rotateY(180deg);
}
.front-side {
  transform: rotateY(0deg);
}
.back-side {
  transform: rotateY(180deg);
}
.error-msg {
  color: red;
  text-align: center;
}