* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monospace;
}
/* Setzen von Standardwerten für Margin, Padding und
 Box-Modell für alle Elemente und Festlegen der Schriftart auf Monospace */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: rgb(143, 176, 188);
  padding: 10px 20px; 
}
/* Gestaltung des Hauptcontainers der Seite als 
Flex-Container mit vertikaler Ausrichtung, Hintergrundfarbe und Padding */

h1 {
  font-size: 3em;
  color: rgb(8, 2, 2);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* Gestaltung der Hauptüberschrift mit erhöhter
 Schriftgröße, bestimmter Farbe, Großschreibung und Buchstabenspacing */

h5 {
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* Gestaltung einer Unterüberschrift mit normaler 
Schriftgröße, schwarzer Farbe, Großschreibung und Buchstabenspacing */

.start {
  padding: 15px 20px;
  color: rgb(3, 3, 3);
  background: rgb(100, 150, 177);
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  transition-duration: 0.5s;
}
/* Gestaltung des Startbuttons mit Padding, 
Farbe, Hintergrund, Schriftgröße, Buchstabenspacing,
 Großschreibung, Cursor, Schriftgewicht und sanfter Transition */

.start:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
/* Gestaltung des Startbuttons beim Überfahren mit einer Schattenwirkung */

body {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* Gestaltung des Body-Elements, Zentrierung des
 Inhalts vertikal und horizontal, vollständige Anzeige
  im Viewport und keine Ränder */

.memory-game {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}
/* Gestaltung des Memory-Spiels als Raster mit 4 Spalten und 10px Abstand */

.card {
  width: 100px;
  height: 100px;
  background: transparent;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
/* Gestaltung der Memory-Spielkarten mit festen Abmessungen,
 transparentem Hintergrund, Anpassung der Hintergrundgröße, 
 zentriertem Inhalt, Schriftgröße, Cursor, 
 sanfter Transformationsübergang und Schatten */


.card-side {
  width: 100px;
  height: 100px;
  position: absolute;
  backface-visibility: visible;
  background-size: cover;
}
/* Styling for the card sides with fixed dimensions, absolute positioning, visible backface, cover background size, and rotated 180 degrees along the Y-axis */

.front-side {
  transform: rotateY(0deg);
}
/* Styling for the front side of the card, resetting the Y-axis rotation */

/*
.back-side {
  transform: rotateY(180deg);
}
*/
/* Commented out styling for the back side of the card, rotating it 180 degrees along the Y-axis (not currently in use) */

.error-msg {
  color: red;
  text-align: center;
}
/* Gestaltung von Fehlermeldungen mit roter Farbe 
und zentrierter Textausrichtung */
